<h1 class="text-center text-uppercase">My Amazing Blog</h1>

<% @posts.each do |post| %>
  <h2><a href="/show/<%= post.id %>"><%= post.title %></a></h2>
  <p class="small">Written at <%= post.timestamp %></p>
  <p><% unless post.content.nil? then post.content.split.first(25).join (" ") end %></p>
  <p><em class="small">
  <% if post.comments.size == 0 %>
  <%= "No comments yet" %>
  <% elsif post.comments.size == 1 %>
  <%= "#{post.comments.size} Comment" %>
  <% else %>
  <%= "#{post.comments.size} Comments" %>
  <% end %></em></p>
  <hr>
<% end %>
  <a href="/new/">Create new post</a>